<div>
    <div style='width: 100%; height: 500px;' data-dojo-attach-point="editor"></div>
    <pre style='font-size:14px' data-dojo-attach-point="resultsArea"></pre>
    <div id="bottombar">Language:
        <select id='langoptions'>
            <option value='javascript'>Javascript</option>
            <option default value='python'>Python</option>
            <option value='c++'>C++</option>
            <option value='c'>C</option>
            <option value='ruby'>Ruby</option>
            <option value='java'>Java</option>
        </select>
        | Show syntax mistakes? <input id='syntaxhelp' type='checkbox'>
    <button id="user-input-button" style='float:right;'>Test Solution</button>
</div>